@page "/"

<div class="row m-0 w-100">
    <h2 class="col m-2 p-0 text-stroke">Homehook Cast Hub</h2>
    <i class="col d-flex align-items-center button-bright justify-content-end m-2 p-0 mdi mdi-refresh mdi-36px" @onclick="RefreshReceivers"></i>
</div>

@if (IsLoading || _receiverHub == null || _receiverHub.State != HubConnectionState.Connected)
{
    <BusyCover />
}
else
{
    <div class="d-flex flex-wrap">
        @foreach (string receiver in _receivers)
        {
            <Receiver Name=@receiver />
        }
    </div>
}


@code{

    [Inject]
    private IConfiguration Configuration { get; set; }

    private IEnumerable<string> _receivers;
    private HubConnection _receiverHub;
    private bool IsLoading = false;


    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();

        _receiverHub = new HubConnectionBuilder()
            .WithUrl(new UriBuilder(Configuration["Services:Homehook:ServiceUri"]) { Path = "receiverhub" }.Uri, options =>
            {
                options.AccessTokenProvider = () =>
                    Task.FromResult($"{Configuration["Services:Homehook:AccessToken"]}");
            })
            .AddNewtonsoftJsonProtocol()
            .WithAutomaticReconnect()
            .Build();

        await _receiverHub.StartAsync();

        _receivers = await _receiverHub.InvokeAsync<IEnumerable<string>>("GetReceivers");
    }

    protected async Task RefreshReceivers(MouseEventArgs _)
    {
        IsLoading = true;
        await InvokeAsync(StateHasChanged);

        await _receiverHub.InvokeAsync<IEnumerable<string>>("RefreshReceivers");
        _receivers = await _receiverHub.InvokeAsync<IEnumerable<string>>("GetReceivers");

        IsLoading = false;
        await InvokeAsync(StateHasChanged);
    }

}