<div id="overlay" class="position-fixed w-100 h-100 d-flex align-items-center justify-content-center" style="background: rgba(255, 255, 255, 0.1); z-index: 1100;">
    <i class="mdi mdi-cog-outline mdi-spin mdi-48px" style="opacity:0.3;" />
</div>