#!/usr/bin/make -f

%:
	dh $@


override_dh_auto_build:
	dotnet publish "HomeCast/HomeCast.csproj" -a @@arch -c RELEASE --self-contained -o publish
	# auto-build disabled

override_dh_auto_install:
	# install application
	install -D -m 755 publish/* debian/homecast/opt/homecast
	
	# remove pdb
	rm debian/homecast/opt/homecast/*.pdb
	
	# install sudoers file for device commands
	install -D -m 0440 debian/homecast-commands debian/homecast/etc/sudoers.d/homecast-commands
	
	# install app settings to config directory
	install -D -m 755 debian/homecast/opt/homecast/appsettings.json debian/homecast/etc/homecast/appsettings.json
	mkdir -p debian/homecast/home/homecast/.config/mpv
	install -D -m 755 -o homecast -g homecast debian/mpv.conf debian/homecast/home/homecast/.config/mpv
		
	# auto-install disabled
	
override_dh_installsystemd:
	dh_installsystemd --name=homecast homecast.service
	
override_dh_link:
	dh_link etc/homecast/appsettings.json opt/homecast/appsettings.json
	
override_dh_shlibdeps:
	# shilbdeps disabled

override_dh_strip:
	# strip disabled