@page "/"

<div class="d-flex flex-wrap m-0 justify-content-center">
    @foreach (DeviceService deviceService in DeviceServices)
    {
        <DeviceCard DeviceService=@deviceService />
    }
</div>

@code{
    [Inject]
    private CastService CastService { get; set; } = null!;

    private IEnumerable<DeviceService> DeviceServices { get; set; } = Array.Empty<DeviceService>();

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        DeviceServices = CastService.DeviceServices.Values.OrderBy(deviceService => deviceService.Device.Name).ToArray();

        CastService.DeviceServicesUpdated += async (_, _) =>
        {
            DeviceServices = CastService.DeviceServices.Values.OrderBy(deviceService => deviceService.Device.Name).ToArray();
            await InvokeAsync(StateHasChanged);
        };
    }
}